<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almir Andrade</title>
</head>
<body>
    <section>
        <h1>Bem vindo! Me chamo Almir de Andrade e é prazer recebe-lo(a) aqui!</h1>
        <p>Este é o meu portfólio pessoal, onde compartilho projetos, experiências e análises que possa vir a realizar.</p>
    </section>
    <section>
        <h2>Sobre Mim</h2>
        <p>Sou um analista de dados com vasta experiência em automação de processos, gestão de projetos e capaz de construír soluções com desenvolvimento web. E também entusiasta de investimentos imobiliário, atuando como corretor de ímoveis.</p>
    </section>
    <section>
        <h2>Ferramentas</h2>
        <ul>
        <!-- Programação -->
            <li>Python</li>
            <li>Pandas</li>
            <li>Plotly</li>
            <li>Django</li>
            <li>HTML/CSS</li>
            <li>SQL</li>
        <!-- Análise de Dados e BI -->
            <li>Excel</li>
            <li>VBA</li>
            <li>Power BI</li>
            <li>Power Query</li>            
            <li>Power Automate</li>
            <li>Power Apps</li>
            <li>Locker</li>
            <li>n8n</li>
            </ul>
    </section>
    <section>
          <h2>Habilidades</h2>
    <ul>
        <!-- Análise, estratégia e tomada de decisão -->
        <li>Análise de Dados</li>
        <li>Pensamento Analítico e Visão Sistêmica</li>
        <li>Resolução de Problemas</li>
        <li>Tomada de Decisões</li>
        <li>Orientação a resultados e redução de custos</li>

        <!-- Projetos, métodos e processos -->
        <li>Gestão de Projetos</li>
        <li>Gestão de Stakeholders</li>
        <li>Gestão e Metodologia Ágeis</li>
        <li>Automação de Processos</li>
        <li>Gestão de Qualidade</li>

        <!-- Tecnologia -->
        <li>Desenvolvimento Web</li>

        <!-- Operações -->
        <li>Gestão de Estoque</li>

        <!-- Relacionamento e negócios -->
        <li>Gestão de clientes B2B e B2C</li>
        <li>Gestão de Pós-vendas</li>
        <li>Negociação</li>        
        <li>Comunicação Eficaz</li>

        <!-- Liderança -->
        <li>Liderança e desenvolvimento de equipes</li>
    </ul>
    </section>
    <section>
        <h2>Investimentos Imobiliários</h2>
        <ul>
            <li>Negociação Imobiliária</li>
            <li>Investimentos Imobiliários</li>
            <li>Financiamento Imobiliário</li>
            <li>Avaliação de Imóveis</li>
            <li>Marketing Imobiliário</li> 
            <li>Alugueis de Curta Temporada (Airbnb)</li>
            <LI>Alugueis</LI>
            <li>Programa Minha Casa Minha Vida</li>
            <li>Consorcio Imobiliário</li>
            <li>Obras por Admintração</li>
            <li>Incorporação Imobiliária</li>
            <li>Imóveis Prontos</li>
            <li>Imóveis na Planta</li>
            <li>Imóveis Comerciais</li>
            <li>Imoveis Pronto (direto com a construtora)</li>
        </ul>
    </section>
    <section> 
        <h2>teste outra secao</h2>
        
    </section>
</body>
</html>